.private {
  result: 1.5;
  result: 0.15;
  /* NB ref units will always be px or rem */
  result: 0.83333;
  result: 1.2;
}

.bad-args {
  /* domain units must be em, %, or one of vw, vh, vmin, vmax */
  result: "ERROR: bad mult unit";
  /* key units must be px or rem */
  result: "ERROR: bad key unit";
}

.viewport-relative {
  result: calc(75vw - 100px);
  result: calc(8vw + 16px);
}

.parent-relative {
  result: calc(0.83333em + 13.33333px);
  result: calc(0.83333em + 13.33333px);
  result: calc(30% + 20px);
  result: calc(110% - 60px);
  result: "ERROR: bad val unit";
  result: calc(1.1em - 60px);
  result: calc(13.33333% - 1.66667rem);
}
